<div class="welcome-card">
    <h1 class="title">Scared Games</h1>
    <mat-form-field class="user-entry">
        <input matInput placeholder="username" autocomplete="off" #user [(ngModel)]="username" required>
        <mat-error *ngIf="!user.valid || user.value == '' || user.value == ' '">Please enter a valid username</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" [routerLink]="isAlready? '': 'lobby'"
    (click)="startGame()" [disabled]="this.username == '' || this.username == ' ' || !this.session== ''">Start a Game</button>
    <button mat-raised-button color="#fff" 
    (click)="joinGame()" [disabled]="this.username == '' || this.username == ' '">Join a Game</button><br>
    <mat-form-field class="session-entry" *ngIf="isJoining">
        <input matInput placeholder="session id" autocomplete="off" #sessionId [(ngModel)]="session" required>
        <mat-error *ngIf="!sessionId.valid || sessionId.value == '' || userId.value == ' '">Please enter a valid session id</mat-error>
    </mat-form-field><br>
    <button mat-raised-button color="#fff" routerLink="lobby" 
    (click)="enterGame()" *ngIf="this.session!='' && isJoining">Enter the Game</button><br>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                How to play
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis bibendum. Cursus turpis massa tincidunt dui ut ornare lectus sit. Mauris a diam maecenas sed enim. Duis at consectetur lorem donec. Est ante in nibh mauris cursus mattis molestie. Sodales ut etiam sit amet nisl purus. Molestie at elementum eu facilisis sed. Sit amet facilisis magna etiam tempor orci eu lobortis elementum. Sollicitudin ac orci phasellus egestas tellus rutrum. Eget dolor morbi non arcu risus. Purus faucibus ornare suspendisse sed nisi. Integer feugiat scelerisque varius morbi enim nunc faucibus.

            Integer malesuada nunc vel risus commodo viverra. Ac turpis egestas sed tempus urna et. Mauris a diam maecenas sed enim ut sem viverra aliquet. Fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec. Diam maecenas sed enim ut. Parturient montes nascetur ridiculus mus mauris vitae ultricies leo integer. Sociis natoque penatibus et magnis. Etiam tempor orci eu lobortis. Amet consectetur adipiscing elit duis. Nulla facilisi morbi tempus iaculis urna id. Arcu felis bibendum ut tristique et egestas quis ipsum suspendisse. Augue ut lectus arcu bibendum at. Odio pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus.</p>
    </mat-expansion-panel>
</div>
