.welcome-card {
    width: 50%;
    background: none;
    text-align: center;
    margin: auto;
    margin-top: 17%;
}
button {
    margin-left: 3px;
}
.title {
    font-family: 'Bree Serif',serif;
    font-size: 70px;
    font-weight: 800;
    color: red;
}
mat-expansion-panel {
    margin: auto;
    margin-top: 10px;
    width: 400px;
}
#mat-input-0,#mat-input-1 {
    color: white;
}