<mat-grid-list cols="4" rowHeight="100px" >
    <ng-container  *ngFor="let tile of game_data" >
        <mat-grid-tile
            *ngIf="tile.alive"
            [colspan]="1"
            [rowspan]="1"
            [attr.id]="tile.name"
            [style.background]="tile.text_color" 
            style="color:white;max-width: 100px;max-height: 100px;"    
            (click)="voteCasted($event)">
                <p matBadge="{{ tile.voters.length || '0' }}" matBadgeOverlap="false" matBadgePosition="right"
                matTooltip="{{ tile.voters }}"
                matTooltipPosition="right">{{tile.name}}</p>
        </mat-grid-tile>
    </ng-container>
  </mat-grid-list>