<head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class = "container">
    <input [(ngModel)] ="text" (keyup.enter)="sendMessage()">
    <button class="sendbtn" (click)="sendMessage()"><i class="fa fa-send-o"></i>
    </button>
<ng-container *ngIf="sentmessage">    
<div *ngFor="let msg of message">
    <p [style.color]="colorPlayer"> {{msg.name}}: {{msg.message}}</p>
</div>
</ng-container>
</div>
</body>
