.chatCard {
    /* float:right; */
    /* margin-top:30%;
    margin-bottom:0%; */
    width: 300px;
    height: 550px;
    overflow-y:auto;
    overflow-x:auto;
    background-color:beige;
    float :right;
    margin:0;

}

 .inputWidth {
    width:75%;
    color:black;
 }
 
 ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: black !important;
  } 

.chatroom {
    margin-top:30%;
}

.mat-card-actions{
    margin-top:-30px;
    padding-bottom: 0px;
}
.mat-raised-button {
    min-width: 10%;
    /* padding-left:2px; */
    margin:0;
}