<div class="lobby">
    <mat-card class="lobby-card-players">
        <mat-card-header>
            <mat-card-title>Joined Players</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <h3 mat-subheader>In Lobby</h3>
                <mat-list-item>PLayer1</mat-list-item>
                <mat-list-item>PLayer1</mat-list-item>
                <mat-list-item>PLayer1</mat-list-item>
                <mat-list-item>PLayer1</mat-list-item>
                <mat-list-item>PLayer1</mat-list-item>
                <mat-list-item>PLayer1</mat-list-item>
                <mat-list-item>PLayer1</mat-list-item>
                <mat-list-item>PLayer1</mat-list-item>
                <mat-list-item>PLayer1</mat-list-item>
                <mat-list-item>PLayer1</mat-list-item>
            </mat-list>
        </mat-card-content>
        </mat-card>
        
        <mat-card class="lobby-card-character">
            <mat-card-header>
                <mat-card-title>Customize your character</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <h3 mat-subheader>In Lobby</h3>
                    <mat-list-item>PLayer1</mat-list-item>
                    <mat-list-item>PLayer1</mat-list-item>
                    <mat-list-item>PLayer1</mat-list-item>
                    <mat-list-item>PLayer1</mat-list-item>
                    <mat-list-item>PLayer1</mat-list-item>
                    <mat-list-item>PLayer1</mat-list-item>
                    <mat-list-item>PLayer1</mat-list-item>
                    <mat-list-item>PLayer1</mat-list-item>
                    <mat-list-item>PLayer1</mat-list-item>
                    <mat-list-item>PLayer1</mat-list-item>
                </mat-list>
            </mat-card-content>
            </mat-card>
</div>