<div class="lobby">
    <mat-card class="lobby-card-players">
        <mat-card-header>
            <mat-card-title>Joined Players</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <h3 mat-subheader>In Lobby</h3>
                <mat-list-item><img src="{{user.avatar}}" class="circleImage">{{user.username}}</mat-list-item>
                <mat-list-item><img src="https://api.adorable.io/avatars/100/ab@adorable.png" class="circleImage">Player2</mat-list-item>
                <mat-list-item><img src="https://api.adorable.io/avatars/100/abott@adorable.png" class="circleImage">Player3</mat-list-item>
                <mat-list-item><img src="https://api.adorable.io/avatars/100/sumit@adorable.png" class="circleImage">Player4</mat-list-item>
                <mat-list-item><img src="https://api.adorable.io/avatars/100/kartik@adorable.png" class="circleImage">Player5</mat-list-item>
                <mat-list-item><img src="https://api.adorable.io/avatars/100/ankit@adorable.png" class="circleImage">Player6</mat-list-item>
                <mat-list-item><img src="https://api.adorable.io/avatars/100/at@adorable.png" class="circleImage">Player7</mat-list-item>
                <mat-list-item><img src="https://api.adorable.io/avatars/100/aot@adorable.png" class="circleImage">Player8</mat-list-item>
                <mat-list-item><img src="https://api.adorable.io/avatars/100/abo@adorable.png" class="circleImage">Player9</mat-list-item>
                <mat-list-item><img src="https://api.adorable.io/avatars/100/abtt@adorable.png" class="circleImage">Player10</mat-list-item>
            </mat-list>
        </mat-card-content>
        </mat-card>
        
        <mat-card class="lobby-card-character">
            <mat-card-header>
                <mat-card-title>Customize your character {{user.username}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-card class="card">
                    <mat-card-header>
                        <mat-card-title>Select an avatar</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="avatar-grid">
                                <img (click)="setAvatar($event.target)" src="https://api.adorable.io/avatars/100/abe@adorable.png" class="circle-image-selection">
                                <img (click)="setAvatar($event.target)" src="https://api.adorable.io/avatars/100/abott@adorable.png" class="circle-image-selection">
                                <img (click)="setAvatar($event.target)" src="https://api.adorable.io/avatars/100/ab@adorable.png" class="circle-image-selection">
                                <img (click)="setAvatar($event.target)" src="https://api.adorable.io/avatars/100/sumit@adorable.png" class="circle-image-selection">
                                <img (click)="setAvatar($event.target)" src="https://api.adorable.io/avatars/100/kartik@adorable.png" class="circle-image-selection">
                                <img (click)="setAvatar($event.target)" src="https://api.adorable.io/avatars/100/ankit@adorable.png" class="circle-image-selection">
                                <img (click)="setAvatar($event.target)" src="https://api.adorable.io/avatars/100/at@adorable.png" class="circle-image-selection">
                                <img (click)="setAvatar($event.target)" src="https://api.adorable.io/avatars/100/aot@adorable.png" class="circle-image-selection">
                                <img (click)="setAvatar($event.target)" src="https://api.adorable.io/avatars/100/abo@adorable.png" class="circle-image-selection">
                                <img (click)="setAvatar($event.target)" src="https://api.adorable.io/avatars/100/abtt@adorable.png" class="circle-image-selection">
                    </mat-card-content>
                </mat-card>
                <div class="role">
                    <img class="role-card" [src] ="cardImage" />
                    <!-- <div class="buttons">
                        <button class="full-width-button" (click)="beginGame()" id="go" mat-raised-button>Go!</button>
                        <button class="full-width-button" id="leave" mat-raised-button>Leave :(</button>
                    </div> -->
                    <div *ngIf ="roleVisibility">
                    <p>You are a <span>{{role}}</span></p>
                    </div>
                </div>
            </mat-card-content>
            </mat-card>
</div>